@import '../../styles/all.scss';

.c-RegionCard {
  box-sizing: border-box;
  background-color: #201c29;

  &__header-row {
    @include fontBase(12px, $font-regular, white);

    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;

    p {
      margin: 0;
      display: inline;
    }

    &__region-name-container {
      padding: 8px;
    }

    &__btn-container {
      button {
        @include fontBase(8px, $font-regular, white);

        height: 100%;
        padding: 8px 12px;
        background: $primary-button-color;
        border: none;
        cursor: pointer;
        float: right;
        font-family: 'Roboto';
        outline: none;
        text-transform: uppercase;
      }
    }
  }

  &__data-container {
    color: white;
    display: flex;
    justify-content: space-around;
  }

  &__box {
    display: block;
    padding: 4px 0;
    text-align: center;
  }

  &__box-label {
    font-size: 8px;
  }

  &__box-count-value {
    font-size: 12px;
    margin-top: 4px;

    &--total-cases {
      color: $total-case-count-color;
    }

    &--active-cases {
      color: $active-case-count-color;
    }

    &--recovered {
      color: $recovered-count-color;
    }

    &--diseased {
      color: $diseased-count-color;
    }
  }
}
