// COLORS
// $primary-color: #0b4495;
$primary-color: #d9d9d99e;;

$total-case-count-color: #3ee03e;
$active-case-count-color: #26a9f7;
$recovered-count-color: #da8cda;
$diseased-count-color: #ef6a6a;

// $primary-button-color: #0096fb;
$primary-button-color: #fd4176;

// FONTS
$font-regular: 'Roboto', sans-serif;
