.p-Home {
  padding: 8px 16px;

  .c-Box {
    margin-top: 20px;
  }

  &__line-chart-box-container {
    padding: 8px;

    &__select-region {
      display: flex;
      justify-content: flex-end;
    }

    .c-PlotLineChart {
      margin: 8px 0;
    }
  }
}