.p-Home {
  padding: 8px 16px;

  .c-Box {
    margin-top: 20px;
  }

  /*
  &__multiselect-container {
    padding: 8px 16px;
    
    .optionListContainer {
      max-width: 375px;
    }

    input {
      font-size: 16px;
    }
  }
  */
}